<div layout="column">

    <md-input-container flex>
        <label>Robotername</label>
        <input ng-model="name">
    </md-input-container>

    <md-slider flex min="-100" max="100" ng-model="a1" aria-label="" id="red-slider"></md-slider>
    <md-slider flex min="-100" max="100" ng-model="a2" aria-label="" id="red-slider"></md-slider>
    <md-slider flex min="-100" max="100" ng-model="a3" aria-label="" id="red-slider"></md-slider>
    <md-slider flex min="-100" max="100" ng-model="a4" aria-label="" id="red-slider"></md-slider>
    <md-slider flex min="-100" max="100" ng-model="a5" aria-label="" id="red-slider"></md-slider>
    <md-slider flex min="-100" max="100" ng-model="a6" aria-label="" id="red-slider"></md-slider>
</div>