<div flex layout="column" layout-align="center stretch">
    <md-input-container>
        <label>Robotname</label>
        <input ng-model="robot.name" readonly>
    </md-input-container>

    <md-input-container>
        <label>Robot in move</label>
        <input ng-model="robot.inMove" readonly>
    </md-input-container>

    <div layout="row" layout-wrap layout-align="space-around stretch">
        <div flex="33" layout="column" layout-align="center center">
            <md-progress-circular md-mode="determinate" value="{{currentTask ? currentTask.axis[0].velocity * 100 : 0}}"></md-progress-circular>
            <div>A1</div>
            <div>{{currentTask.axis[0].velocity}}</div>
        </div>
        <div flex="33" layout="column" layout-align="center center">
            <md-progress-circular md-mode="determinate" value="{{currentTask ? currentTask.axis[1].velocity * 100 : 0}}"></md-progress-circular>
            <div>A2</div>
            <div>{{currentTask.axis[1].velocity}}</div>
        </div>
        <div flex="33" layout="column" layout-align="center center">
            <md-progress-circular md-mode="determinate" value="{{currentTask ? currentTask.axis[2].velocity * 100 : 0}}"></md-progress-circular>
            <div>A3</div>
            <div>{{currentTask.axis[2].velocity}}</div>
        </div>
        <div flex="100" layout="column" layout-margin>
            <md-progress-linear md-mode="determinate" value="{{currentTask ? currentTask.axis[3].velocity * 100 : 0}}"></md-progress-linear>
            <div>A4</div>
            <div>{{currentTask.axis[3].velocity}}</div>
        </div>
        <div flex layout="column" layout-align="center center">
            <md-progress-circular md-mode="determinate" value="{{currentTask ? currentTask.axis[4].velocity * 100 : 0}}"></md-progress-circular>
            <div>A5</div>
            <div>{{currentTask.axis[4].velocity}}</div>
        </div>
        <div flex layout="column" layout-align="center center">
            <md-progress-circular md-mode="determinate" value="{{currentTask ? currentTask.axis[5].velocity * 100 : 0}}"></md-progress-circular>
            <div>A6</div>
            <div>{{currentTask.axis[5].velocity}}</div>
        </div>



    </div>

    <md-list>
        <md-subheader class="md-no-sticky" ng-if="currentTask != null">Current task</md-subheader>
        <md-list-item class="md-3-line" ng-if="currentTask != null">
            <div class="md-list-item-text">
                <h3>{{currentTask.receivedAt}}</h3>
                <p>{{'A1: ' + currentTask.axis[0].velocity + ', A2: ' + currentTask.axis[1].velocity + ', A3: ' + currentTask.axis[2].velocity}}</p>
                <p>{{'A4: ' + currentTask.axis[3].velocity + ', A5: ' + currentTask.axis[4].velocity + ', A6: ' + currentTask.axis[5].velocity}}</p>
            </div>
        </md-list-item>


        <md-subheader class="md-no-sticky" ng-if="tasks.length > 0">Tasks in Queue</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="task in tasks" ng-if="tasks.length > 0">
            <div class="md-list-item-text">
                <h3>{{task.receivedAt}}</h3>
                <p>{{'A1: ' + task.axis[0].velocity + ', A2: ' + task.axis[1].velocity + ', A3: ' + task.axis[2].velocity}}</p>
                <p>{{'A4: ' + task.axis[3].velocity + ', A5: ' + task.axis[4].velocity + ', A6: ' + task.axis[5].velocity}}</p>
            </div>
        </md-list-item>
    </md-list>
</div>